.ant-table-wrapper  {
    box-shadow: var(--shadow-light);
}

.ant-table-wrapper .ant-table-thead >tr>th {
    background-color: var(--color-primary-red);
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.ant-table-wrapper .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
      content: none; 
}

.ant-table-wrapper .ant-table-tbody >tr >td {
    border-bottom: 1px solid var(--color-secondary-grey-10);
    border-right: 1px solid var(--color-secondary-grey-10);
}

.ant-table-wrapper .ant-table-tbody>tr>td {
     padding: 0px 16px;
}

.ant-table-wrapper .ant-table-tbody > tr {
    height: 60px;
}

.ant-table-wrapper .ant-table-tbody > tr > td {
    box-sizing: border-box;
    vertical-align: middle;
}